@import 'src/assets/variables';
@import 'src/assets/breakpoints';
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  align-items: center;
  &SizeSmall {
    padding: 20px;
  }
  &IsOpen {
    display: flex;
  }
}
.modalContainer {
  max-width: 520px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  width: 100%;
  position: relative;
  background: $white;
  display: flex;
  flex-direction: column;
  padding: 24px;
  @include mobile {
    padding: 20px;
  }
  &SizeBig {
    .modalHeader {
      @include mobile {
        align-items: flex-start;
      }
      h2 {
        @include mobile {
          margin-top: 48px;
        }
      }
    }
  }
  &HeightSmall {
    min-height: 332px;
    justify-content: space-between;
  }
}
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-weight: 500;
  }
}
.modalBody {
  margin-top: 32px;
}
.modalFooter {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}
.modalExit {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $gray-tertiary;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px;
  margin: 0!important;
  &:hover {
    &::before {
      opacity: 0.75;
    }
  }
  &::before {
    width: 16px;
    height: 16px;
    content: url('../../assets/images/icons/exit.svg');
  }
}