@import "src/assets/variables";
.container {
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 50%;
}
.loader {
  width: 17px;
  height: 17px;
  position: relative;
  animation: loaderAnimate 2s linear infinite;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 3px solid transparent;
    -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    background: linear-gradient($green-primary 0%, $white 95%) border-box;
  }
  &Big {
    width: 70px;
    height: 70px;
    &::before {
      border: 6px solid transparent;
    }
  }
}

@keyframes loaderAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}