.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 170px;
}

.img {
  width: 100%;
  background: #c9e8d8;
  height: 100px;
  margin: 0 auto;
  background: var(--tg-theme-button-color);
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
}