@import 'src/assets/variables';

.tabs {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  overflow-x: scroll;
}
.tab {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  p {
    color: $black-secondary;
    font-size: $button-secondary-fz;
    font-weight: 500;
  }
  &:hover {
    background: #e1e1e1;
  }
  &Selected {
    background-color: rgba(8,166,82,.2);
    p {
      color: $green-primary;
    }
    &:hover {
      background-color: $green-primary;
      p {
        color: $white;
      }
    }
  }

}
