@import "src/assets/variables";

.selectContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  font-size: $input-primary-fz;
  line-height: 21px;
  color: $black-tertiary;
  background-color: #fafbfc;
  border: 1px solid $gray-primary;
  border-radius: $default-border-radius;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  tab-index: 0;
  &:hover {
    border: 1px solid $green-primary
  }
  &:focus-within, &:focus {
    outline: none;
    border: 1px solid $green-primary;
    box-shadow: 0 0 0 5px rgba(8, 166, 82, 0.25);
  }
}
.selectedText {
  padding: 10px 20px;
  cursor: pointer;
}
.selectedText::after {
  content: url("../../assets/images/icons/select-icon.svg");
  width: 10px;
  height: 6px;
  position: absolute;
  right: 16px;
}

.selectOptions {
  position: absolute;
  width: 100%;
  overflow: auto;
  max-height: 180px;
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  background: $white;
  &Show {
    opacity: 1;
    visibility: visible;
  }
}
.optionActive {
  background-color: $green-primary;
  color: $white;
}