.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.username {
  margin-left: auto;
}

.button {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}