* {
  font-family: $font-family;
}

body {
  background: $gray-tertiary;
  height: 100%;
}
#root {
  height: 100%;
}

//text configs
h1 {
  font-size: $h1-desktop-fz;
  line-height: $h1-desktop-lh;
}
h2 {
  font-size: $h2-desktop-fz;
  line-height: $h2-desktop-lh;
}
h3 {
  font-size: $h3-desktop-fz;
  line-height: $h3-desktop-lh;
}
h4 {
  font-size: $h4-desktop-fz;
  line-height: $h4-desktop-lh;
}
a {
  font-size: $link-secondary-fz;
  line-height: $link-primary-lh;
}
p {
  font-size: $text-secondary-fz;
  line-height: $text-primary-lh;
}
span {
  font-size: $text-secondary-fz;
  line-height: $text-primary-lh;
}
input {
  font-size: $input-primary-fz;
}


//scroll styles
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: $white;
  border: none;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: $green-primary;
  border: none;
  border-radius: $default-border-radius;
}