$font-family: 'Roboto', sans-serif;

//colors
$black-primary: #000000;
$black-secondary: #333333;
$black-tertiary: #666666;
$black-quaternary: #999999;

$gray-primary: #cccccc;
$gray-secondary: #e5e5e5;
$gray-tertiary: #f5f5f5;
$gray-quaternary: #212529;
$gray-quinary: #fafbfc;
$grey-decline: #ebebeb;

$green-primary: #08a652;
$green-primary-hover: #2db36c;
$green-secondary: #c9e8d8;
$green-tertiary: #dcefe5;
$green-quaternary: #84d3a9;
$green-quinary: #068542;

$blue-primary: #0087cd;
$blue-secondary: #e5f0f5;

$orange-primary: #ff8000;
$yellow-primary: #faed00;
$pink-primary: #ff0066;
$white: #ffffff;
$red: #cc0000;
$aside-bg: #f9f9f9;

//font-size
$h1-desktop-fz: 28px;
$h2-desktop-fz: 20px;
$h1-mobile-fz: 20px;
$h2-mobile-fz: 16px;
$h3-desktop-fz: 16px;
$h4-desktop-fz: 14px;

$headline-primary-fz: 24px;
$headline-secondary-fz: 20px;
$headline-tertiary-fz: 14px;

$button-primary-fz: 16px;
$button-secondary-fz: 14px;

$text-primary-fz: 16px;
$text-secondary-fz: 14px;

$link-primary-fz: 16px;
$link-secondary-fz: 14px;

$input-primary-fz: 14px;

$caption-primary-fz: 16px;
$caption-secondary-fz: 14px;
$caption-tertiary-fz: 12px;

$alert-desc-fz: 12px;

$table-header-fz: 12px;
$table-body-fz: 14px;

//line-heights
$h1-desktop-lh: 32px;
$h1-mobile-lh: 24px;
$h2-desktop-lh: 24px;
$h2-mobile-lg: 20px;
$h3-desktop-lh: 20px;
$h4-desktop-lh: 16px;

$headline-primary-lh: 28px;
$headline-secondary-lh: 24px;
$headline-tertiary-lh: 20px;

$button-primary-lh: 20px;

$text-primary-lh: 20px;

$link-primary-lh: 20px;

$caption-primary-lh: 20px;

//defaults
$default-border-radius: 4px;