@import "src/assets/variables";

.alert {
  max-width: 320px;
  min-width: 320px;
  min-height: 96px;
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 20px;
  z-index: 1000;
  .alertContainer {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .header {
    font-weight: 500;
    color: $white
  }
  .desc {
    font-size: $alert-desc-fz;
    color: $white
  }
  &Success {
    background: $green-primary;
  }
  &Error {
    background: $red;
  }
}